.title  {
    font-size: 75px;
    color: rgba(255, 255, 255, 0.738);
    flex: auto;
    text-align: center;
    font-family: Brush Script MT,cursive;
}
body    {
    background-color: rgb(241, 213, 161);
}
img {
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}
#parent   {
    position: relative;
    z-index: 9;
}

.recipes    {
    position: absolute;
    top: 30px;
    left: 550px;
}
.burger {
    font-family: Brush Script MT,cursive;
    font-weight: bold;
    font-size: 45px;
    color: rgba(211, 23, 23, 0.738);
}
.pizza {
    font-family: Brush Script MT,cursive;
    font-weight: bold;
    font-size: 45px;
    color: rgb(211, 23, 23, 0.738);
}
.pasta {
    color: rgb(211, 23, 23, 0.738);
    font-family: Brush Script MT,cursive;
    font-weight: bold;
    font-size: 45px;
}
ul  {
    list-style: none;
}